.nav-tabs .nav-link.active{
    color: black !important;
}

.nav-tabs .nav-link{
    color: grey !important;
}

.colapsable{
    transition: all 100ms;
}

.resultado{
    height: 50px;
}

.abierto{
    height: 100%;
}

.cerrado{
    height: 0px;
}

.telon{
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    transition: all 500ms;
}

span.error{
    color: red;
    font-size: small;
    font-weight: bold;
}

.spanId{
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

#formRegistro{
    overflow: hidden;
    transition: all 500ms;
}

span#idJugador{
    background-color: blue;
}

#idPartida{
    background-color: red;
}

#resultadoJyP{
    overflow: hidden;
    text-align: center;
}

#tblDatos{
    width: 100%;
}

.btn-rojo{
    background-color: rgb(252, 61, 61) !important;
    color: white !important;
}

.btn-rojo:hover{
    background-color: rgb(255, 84, 84) !important;
}

.btn-rojo:active{
    background-color: rgb(249, 35, 35) !important;
}


.btn-verde{
    background-color: rgb(61, 252, 61) !important;
    color: black !important;
}

.btn-verde:hover{
    background-color: rgb(84, 255, 84) !important;
}

.btn-verde:active{
    background-color: rgb(35, 249, 35) !important;
}


.tituloDato{
    font-weight: bold;
}

#tblDatos tr th{
    text-align: center;
    font-weight: bold;
}

#tblDatos .btn{
    width: 100%;
}
